* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
HTML body {
    background-color: black;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow:visible
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 40px;
    width: 100%;
    max-width: 2000px;
    text-align: center;
}

.project {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    margin-top: 10px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.5);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

p {
    color: white;
}
.animated-background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}